{%extends "layout.html"%}

{%block content%}
    {% if T >= 30 and T < 5505 %}
        <div id="bg-planet" style="background-image: url('static/assets/tatooine.jpg');">
            <div id="Htext">
                <h1 id="SW-Header">The temperature is:{{T}}C</h1>
                <h1 id="SW-Header">It's like Tatooine out there!</h1>
            </div>
        </div>
    {% elif T >= 5505 %}
        <div id="bg-planet" style="background-image: url('static/assets/sun.jpg');">
            <div id="Htext">
                <h1 id="SW-Header">The temperature is:{{T}}C</h1>
                <h1 id="SW-Header">It's like The Sun out there!</h1>
            </div>
        </div>
    {% elif T < 10 and T > -10 %}
        <div id="bg-planet" style="background-image: url('static/assets/hoth.jpg');">
            <div id="Htext">
                <h1 id="SW-Header">The temperature is:{{T}}C</h1>
                <h1 id="SW-Header">It's like Hoth out there!</h1>
            </div>
        </div>
    {% elif T <= -10 %}
        <div id="bg-planet" style="background-image: url('static/assets/bahryn.jpg');">
            <div id="Htext">
                <h1 id="SW-Header">The temperature is:{{T}}C</h1>
                <h1 id="SW-Header">It's like Bahryn out there!</h1>
            </div>
        </div>
    {%else%}
        <div id="bg-planet" style="background-image: url('static/assets/naboo.jpg');">
            <div id="Htext">
                <h1 id="SW-Header">The temperature is:{{T}}C</h1>
                <h1 id="SW-Header">It's like naboo out there!</h1>
            </div>
        </div>
    {%endif%}
{%endblock content%}