<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        {%if title%}
            <title>sensor report - {{title}}</title>
        {%else%}
            <title>sensor report</title>
        {%endif%}
    </head>

    <body>
        {%block script%}
        {%endblock%}
        <div id="navbar">
            <table id="menu">
                <tr>
                    <th><a href="/main"><p id="linktext">star wars weather</p></a></th>
                    <th><a href="/about"><p id="linktext">about</p></a></th>
                    <th><a href="/raw"><p id="linktext">raw data</p></a></th>
                </tr>
            </table> 
        </div>
        {%if title%}
            <h1>{{title}}</h1>
        {%else%}
            <title>ERROR NO TITLE FOUND</title>
        {%endif%}
        {%block content%}
        {%endblock%}
    </body>

</html>