:root {
    --current-data-h1: 3rem;

    --main-padding: 5rem 4rem 1rem 4rem;
    --main-margin: 1rem 2rem 0rem 2rem;

    --graph-padding: 0 10% 0 10%;
    --graph-grid-template-rows: 1;
    --graph-grid-template-columns: 1fr 1fr;
}

@media (max-width: 900px) {
    :root{
        --current-data-h1: 2.5rem;

        --main-padding: 2rem 0.5rem 1rem 0.5rem;
        --main-margin: 1rem 0.5rem 0rem 0.5rem;

        --graph-padding: 0;
        --graph-grid-template-rows: 1fr 1fr; 
        --graph-grid-template-columns: 1; 


    }
}

body {
    background-color: #252525;
    color: #fff;

    align-items: center;
    width: 100vw;
    height: auto;
}

.burgerButton {
    fill: #fff;
}

main {
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    background-color: #1E1E1E;
    margin: var(--main-margin);
    padding: var(--main-padding);
    width: auto;    
    
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-bottom: 4rem;
}
h1 {
    font-family: 'Odibee Sans', cursive;
    font-size: var(--current-data-h1);
}

#current-data>div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

    width: 100%;
    margin-top: 1rem;
}

.graphs {
    display: grid;
    grid-template-columns: var(--graph-grid-template-columns);
    grid-template-rows: var(--graph-grid-template-rows);
}
.graphs>div {
    margin-bottom: 2rem;
}

.chart-section {
    padding: var(--graph-padding);

}

.chart {
    margin-top: 1rem;
}
