@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');

/* blank slate */
*{
    box-sizing: border-box;
    font-size: 100%;
    font-weight: normal;
    margin: 0;
    padding: 0;
    position: relative;
    text-decoration: none;
    border: 0;
}

a {
    color: black;
}

::-webkit-scrollbar {
    display: none; 
}

:root {
    -ms-overflow-style: none;
    scrollbar-width: none;
    --navOptions-gridColumns: 1fr 4fr;

    --data-elem-h2-font-size: 2rem;
    --data-elem-p-font-size: 2.5rem;
}

@media (max-width: 500px) {
    :root{
        --navOptions-gridColumns: 1fr 1fr; 

        --data-elem-h2-font-size: 2rem;
        --data-elem-p-font-size: 1.7rem;
    }
}

body {
    width: 100vw;
    height: 100vh;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

nav {
    width: 100vw;
    height: 7vh;
}

.burgerButton {
    cursor: pointer;
    margin: 0.6rem;
    z-index: 2;
    position: fixed;
}

.navOptions {
    z-index: 1;
    position: fixed;
    top: 0;

    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-columns: var(--navOptions-gridColumns);

    transition: 0.7s;
}

.navOptions>ul {

    padding-top: 4rem;

    width: 100%;
    height: 100%;
    background-color: gray;
}
.open {
    left: 0;
}
.close {
    left: -100vw;
}

.navButton {
    cursor: pointer;
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, 0);
    border-top: 0.1rem solid black;
    border-radius: 0.6rem;
}

.navExit {
    cursor: pointer;
    width: 100%;
    height: 100%;
}

main {
    width: 100vw;
    height: 20vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.weatherP {
    font-size: 3rem;
    font-family: 'Odibee Sans', cursive;
    text-align: center;
}

.time {
    font-family: 'Odibee Sans', cursive;

    position: absolute;

    z-index: -1;
    top: -3rem;
    right: 0;

    margin: 0.5rem;
}

.light-theme {
    color: #000;
    fill: #000;
}

.dark-theme {
    color: #fff;
    fill: #fff;
}